@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: rgb(154, 214, 241);
}


.done {
    font-size: 2rem;
    font-weight: lighter;
    text-decoration: line-through;
    color: lightgray;
    cursor: pointer;
}

.notDone {
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}