@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: rgb(239, 242, 245);
}

.card {
    width: 60rem;
}

.box {
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

/* 

Doesn't work properly on mobile devices

.notDone:hover {
    font-weight: lighter;
    text-decoration: line-through;
    color: lightgray;
}

.done:hover {
    font-weight: normal;
    text-decoration: none;
    color: #212529;
}

*/